/* font-family: 'Open Sans Condensed', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* ---header--- */

header {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/bg_header_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  overflow-y: hidden;

}

header div.bgc-header {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);

}

header div.header {
  position: absolute;
  top: 10%;
  bottom: 5%;
  left: 5%;
  width: 90%;
  text-align: center;
}

header p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;

}

header h1 {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2%;
  padding-bottom: 10%;
  border-top: .5px solid white;
  font-weight: 400;
  font-size: 32px;
}

header button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 30px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, .2);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

header div.arrows {
  position: absolute;
  bottom: 5vmin;
  left: 45%;
  width: 10%;
  font-size: 18px;
}

/* size min-width: 360px */

@media (min-width: 360px) and (orientation: portrait) {

  header p,
  header div.arrows,
  header button {
    font-size: 20px;

  }

  header h1 {
    font-size: 36px;
  }

  header button {
    letter-spacing: 1.5px;
    font-size: 20px;
  }

}

/* size min-width: 384px */

@media (min-width: 384px) and (orientation: portrait) {

  header div.header {
    top: 12%;
  }

  header p,
  header div.arrows,
  header button {
    font-size: 24px;

  }

  header h1 {
    font-size: 38px;
  }

  header button {
    padding-top: 9px;
    padding-bottom: 9px;
    letter-spacing: 2px;
  }
}

/* size min-width: 480px */

@media (min-width: 480px) and (orientation: portrait) {

  header p,
  header div.arrows,
  header button {
    font-size: 28px;

  }

  header h1 {
    font-size: 48px;
  }

  header button {
    padding: 11px 40px;
    border-radius: 40px;
  }
}

/* size min-width: 600px */
@media (min-width: 600px) and (orientation: portrait) {

  header p,
  header div.arrows,
  header button {
    font-size: 32px;

  }

  header h1 {
    font-size: 58px;
  }

  header button {
    padding: 13px 55px;
    border-radius: 55px;
  }

}

/* size min-width: 768px */
@media (min-width: 768px) and (orientation: portrait) {

  header p,
  header div.arrows,
  header button {
    font-size: 42px;

  }

  header h1 {
    border-width: 2px;
    font-size: 76px;
  }

  header button {
    padding: 14px 65px;
    border-width: 2px;
    border-radius: 65px;
    letter-spacing: 3px;
  }
}

/* orientation: landscape */
@media (orientation: landscape) {


  header h1 {
    padding-top: 1%;
    padding-bottom: 5%;
    font-size: 34px;
  }
}

/* size min-width: 533px;*/
@media (orientation: landscape) and (min-width: 533px) {
  header h1 {
    font-size: 38px;
  }
}

/* size min-width: 640px;*/
@media (orientation: landscape) and (min-width: 640px) {

  header p,
  header div.arrows,
  header button {
    font-size: 22px;
  }

  header h1 {
    padding-bottom: 4%;
    font-size: 44px;
  }

  header button {
    padding: 6px 35px;
    border-radius: 35px;
    letter-spacing: 1.5px;
  }
}

/* size min-width: 736px;*/
@media (orientation: landscape) and (min-width: 736px) {

  header p,
  header div.arrows,
  header button {
    font-size: 24px;
  }

  header h1 {
    font-size: 56px;
  }

  header button {
    padding: 7px 38px;
    border-radius: 38px;
  }
}

/* size min-width: 1024px;*/
@media (orientation: landscape) and (min-width: 1024px) {

  header p,
  header div.arrows,
  header button {
    font-size: 30px;

  }

  header h1 {
    font-size: 70px;
    border-width: 2px;
  }

  header button {
    padding: 8px 45px;
    border-radius: 45px;
    border-width: 2px;
    letter-spacing: 2px;
    transition: 0.3s;
    cursor: pointer;
  }

  header button:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #222;
  }

}


/* size min-width: 1280px;*/
@media (orientation: landscape) and (min-width: 1280px) {

  header p,
  header div.arrows,
  header button {
    font-size: 40px;

  }

  header h1 {
    font-size: 90px;
  }

  header button {
    padding: 9px 50px;
    border-radius: 50px;
    letter-spacing: 3px;
  }

}

/* size min-width: 1600px;*/
@media (orientation: landscape) and (min-width: 1600px) {

  header p,
  header div.arrows,
  header button {
    font-size: 46px;

  }

  header h1 {
    font-size: 120px;
  }

  header button {
    padding: 10px 55px;
    border-radius: 55px;
  }

}


/*section pusta do uzupelnienia*/

section.pusta {
  height: 100vh;
}


/* ---section two - meet us, section - portfolio--- */
section.meet-us,
section.portfolio {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  width: 100%;
  background-image: url(../img/bg_section_meet_us_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
}

section.portfolio {
  background-image: url(../img/bg_section_portfolio_1920.jpg);
}

section.meet-us div.bgc-section-meet-us,
section.portfolio div.bgc-section-portfolio {
  height: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: rgba(0, 0, 0, .5);
}

section.meet-us div.wrap-meet-us,
section.portfolio div.wrap-portfolio {
  width: 70%;
  height: 16vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10%;
  border: 1px solid white;
  text-align: center;
}

section.meet-us p,
section.portfolio p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

section.meet-us h2,
section.portfolio h2 {
  display: inline-block;
  border-top: .5px solid white;
  font-weight: 400;
  font-size: 31px;
}

/* size min-width: 360px */
@media (min-width: 360px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 16px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 35px;
  }
}

/* size min-width: 480px */
@media (min-width: 480px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 20px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 47px;
  }
}

/* size min-width: 600px */
@media (min-width: 600px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 22px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 56px;
  }
}

/* size min-width: 768px */
@media (min-width: 768px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 24px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 74px;
  }
}

/* orientation: landscape */
@media (orientation: landscape) {

  section.meet-us,
  section.portfolio {
    height: 25vw;
  }

  section.meet-us div.bgc-section-meet-us,
  section.portfolio div.bgc-section-portfolio {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  section.meet-us div.wrap-meet-us,
  section.portfolio div.wrap-portfolio {
    height: 15vw;
    padding: 2vw 20%;
  }

  section.meet-us p,
  section.portfolio p {
    font-size: 14px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 28px;
  }
}

/* size min-width: 640px;*/
@media (orientation: landscape) and (min-width: 640px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 16px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 36px;
  }
}

/* size min-width: 830px;*/
@media (orientation: landscape) and (min-width: 830px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 18px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 48px;
  }
}

/* size min-width: 1024px;*/
@media (orientation: landscape) and (min-width: 1024px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 20px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 58px;
  }
}

/* size min-width: 1280px;*/
@media (orientation: landscape) and (min-width: 1280px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 24px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 74px;
  }
}

/* size min-width: 1600px;*/
@media (orientation: landscape) and (min-width: 1600px) {

  section.meet-us p,
  section.portfolio p {
    font-size: 26px;
  }

  section.meet-us h2,
  section.portfolio h2 {
    font-size: 94px;
  }
}

/* ---section three - persons--- */

section.persons {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

section.persons div.description {
  margin-top: 5vmax;
  width: 90%;
  height: 35vmax;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px 0;
  border: 2px solid #444;
  border-bottom: none;
  text-align: center;
  color: #444;

}

section.persons h1 {
  color: black;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}


section.persons h2 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px #c12525 solid;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

section.persons p {
  padding: 25px 0;
  font-size: 14px;
  font-weight: normal;
}

section.persons div.foto {
  position: relative;
  width: 100%;
  height: 40vmax;
  padding: 0;
  background-image: url(../img/people1_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

section.persons.two div.foto {
  background-image: url(../img/people2_1280.jpg);
}

section.persons.three div.foto {
  background-image: url(../img/people3_1280.jpg);
}

section.persons.four div.foto {
  background-image: url(../img/people4_1280.jpg);
}

section.persons div.border {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 35vmax;
  border: 2px solid white;
  border-top: none;

}

section.persons div.triangle {
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  /*
  width: 0;
  height: 0;
*/
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
}

/* size min-width: 480px */

@media (min-width: 480px) {
  section.persons h1 {
    font-size: 30px;
  }

  section.persons h2 {
    border-bottom-width: 3px;
    font-size: 18px;
  }

  section.persons p {
    padding: 30px 0;
    font-size: 18px;
  }
}

/* size min-width: 533px two columns*/

@media (min-width: 533px) {
  section.persons div.right {
    float: right;
  }

  section.persons div.left {
    float: left;
  }

  section.persons div.description {
    position: relative;
    width: 50%;
    margin: 0;
    height: 40vmax;
    padding: 5vh;
    padding-left: 10vh;
    padding-right: 0;
    border: none;
  }

  section.persons div.description.right {
    padding: 5vh;
    padding-left: 0;
    padding-right: 10vh;
  }

  section.persons div.description::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 35vmax;
    margin: 5%;
    margin-right: 0;
    border: 2px solid #444;
  }

  section.persons div.description.left::before {
    right: 0;
    margin-right: 0;
    border-right: none;
  }

  section.persons div.description.right::before {
    left: 0;
    right: auto;
    margin-left: 0;
    margin-right: 5%;
    border-right: 2px solid #444;
    border-left: none;
  }

  section.persons h1 {
    font-size: 24px;
  }

  section.persons h2 {
    border-bottom-width: 2px;
    font-size: 14px;
  }

  section.persons p {
    padding: 25px 7% 10px;
    font-size: 14px;
  }

  section.persons div.foto {
    width: 50%;
  }

  section.persons div.border {
    margin: 5%;
    margin-left: 0;
    border-top: 2px solid white;
    border-left: none;
  }

  section.persons .right div.border {
    margin-left: 10%;
    margin-right: 0;
    border-left: 2px solid white;
    border-right: none;
  }

  section.persons div.triangle {
    top: calc(50% - 30px);
    left: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
  }

  section.persons .right div.triangle {
    top: calc(50% - 30px);
    left: calc(100% - 30px);
    border-right: 30px solid #fff;
    border-left: 0;
  }

  /* size min-width: 700px;*/
  @media (min-width: 700px) {
    section.persons h1 {
      padding-top: 2vh;
      font-size: 32px;
    }

    section.persons h2 {
      font-size: 20px;
    }

    section.persons p {
      font-size: 18px;
    }

    section.persons div.triangle {
      top: calc(50% - 40px);
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 40px solid #fff;
    }

    section.persons .right div.triangle {
      top: calc(50% - 40px);
      left: calc(100% - 40px);
      border-right: 40px solid #fff;
      border-left: 0;
    }

  }

  /* size min-width: 1024px;*/
  @media (min-width: 1024px) {
    section.persons h1 {
      padding-top: 5vh;
      font-size: 40px;
    }

    section.persons h2 {
      font-size: 30px;
    }

    section.persons p {
      font-size: 28px;
    }

    section.persons div.triangle {
      top: calc(50% - 50px);
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 50px solid #fff;
    }

    section.persons .right div.triangle {
      top: calc(50% - 50px);
      left: calc(100% - 50px);
      border-right: 50px solid #fff;
      border-left: 0;
    }

  }